In [2]:
import xlsxwriter
import pandas as pd
import math
import time
import shutil
from tqdm import tqdm

from openpyxl import load_workbook
from win32com.client import DispatchEx, Dispatch
from win32api import LoadLibrary
from IPython.display import HTML, Javascript, display

PATH = "C:/Users/jackl/OneDrive/Documents/finance_research/japan_qe/"

In [3]:
def display_file(p):
    wb = load_workbook(p, data_only=True)
    sh = wb["Sheet1"]
    return pd.DataFrame(sh.values)

In [4]:
nk_df = pd.read_csv(PATH+'raw_data/capital_iq/nk_df.csv')

In [5]:
ticker_list = list(nk_df['ticker'])

In [6]:
ticker_list = [1332, 1333]
month_list = ['06']

## Action Items

In [7]:
for ticker in tqdm(ticker_list):
    for month in month_list:
        p = PATH+'raw_data/capital_iq/ownership_files/' + str(ticker) + "_" + str(month) + '.xlsx'

        excel = DispatchEx('Excel.Application')
        excel.Visible = True

        workbook = excel.Workbooks.Open(p)

        time.sleep(10)
        excel.CalculateFull()

        time.sleep(10)
        workbook.Save()

        workbook.Close()
        excel.Quit()

100%|███████████████████████████████████████████████████████████████████████████████████| 2/2 [25:42<00:00, 771.34s/it]

In [22]:
test = pd.read_excel(PATH+'raw_data/capital_iq/ownership_files/1332_06.xlsx')

In [23]:
test

,ticker,asof_date,#CIQINACTIVE,#CIQINACTIVE.1,#CIQINACTIVE.2,#CIQINACTIVE.3,#CIQINACTIVE.4,#CIQINACTIVE.5,orientation,sedol,comn
0,TSE:1332,2010-06-31,NaN,NaN,NaN,NaN,NaN,NaN,#CIQINACTIVE,6640927,NIPPON SUISAN KAISHA LTD
1,TSE:1332,2010-06-31,NaN,NaN,NaN,NaN,NaN,NaN,#CIQINACTIVE,6640927,NIPPON SUISAN KAISHA LTD
2,TSE:1332,2010-06-31,NaN,NaN,NaN,NaN,NaN,NaN,#CIQINACTIVE,6640927,NIPPON SUISAN KAISHA LTD
3,TSE:1332,2010-06-31,NaN,NaN,NaN,NaN,NaN,NaN,#CIQINACTIVE,6640927,NIPPON SUISAN KAISHA LTD
4,TSE:1332,2010-06-31,NaN,NaN,NaN,NaN,NaN,NaN,#CIQINACTIVE,6640927,NIPPON SUISAN KAISHA LTD
...,...,...,...,...,...,...,...,...,...,...,...
48006,TSE:1332,2021-06-31,NaN,NaN,NaN,NaN,NaN,NaN,#CIQINACTIVE,6640927,NIPPON SUISAN KAISHA LTD
48007,TSE:1332,2021-06-31,NaN,NaN,NaN,NaN,NaN,NaN,#CIQINACTIVE,6640927,NIPPON SUISAN KAISHA LTD
48008,TSE:1332,2021-06-31,NaN,NaN,NaN,NaN,NaN,NaN,#CIQINACTIVE,6640927,NIPPON SUISAN KAISHA LTD
48009,TSE:1332,2021-06-31,NaN,NaN,NaN,NaN,NaN,NaN,#CIQINACTIVE,6640927,NIPPON SUISAN KAISHA LTD
48010,TSE:1332,2021-06-31,NaN,NaN,NaN,NaN,NaN,NaN,#CIQINACTIVE,6640927,NIPPON SUISAN KAISHA LTD